<!-- <nav>
  <ul class="nav flex-column">
    <li>
        <a routerLink="/prestations" routerLinkActive="active">
          Prestations
        </a>
    </li>
    <li>
      <a routerLink="/clients" routerLinkActive="active">
        Clients
      </a>
    </li>
  </ul>
</nav> -->
<div class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="/prestations" routerLinkActive="active">
      Prestations
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/clients" routerLinkActive="active">
      Clients
    </a>
</div>
