<div class="container">
  <div>
    <h2>Ajouter un client</h2>
    <form>
      <label for="clientId">Id</label>
      <input name="id" type="text" class="form-control" id="clientId" placeholder="Client Id">

      <label for="clientNom">Nom</label>
      <input name="nom" type="text" class="form-control" id="clientNom" placeholder="Nom Client">

      <label for="clientAdresse">Adresse</label>
      <input name="adresse" type="text" class="form-control" id="clientAdresse" placeholder="Adresse Client">

      <label for="clientCodePostal">Code postal</label>
      <input name="codePostal" type="text" class="form-control" id="clientCodePostal" placeholder="Code postal Client">

      <label for="clientVille">Code postal</label>
      <input name="ville" type="text" class="form-control" id="clientVille" placeholder="Ville Client">

      <label for="clienttjm_ht">TJM HT</label>
      <input name="tjm_ht" type="text" class="form-control" id="clienttjm_ht" placeholder="TJM Client">

      <label for="clientState">Etat</label>
      <select name="state" id="clientState" class="d-block">
        <ng-container *ngFor="let state of states">
          <option [value]="state">{{state}}</option>
        </ng-container>
      </select>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
  </div>
</div>
