<div class="container">
    <h2>Ajouter une prestation</h2>
  <form novalidate #formPrestation="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="type">Type presta</label>
      <input name="type" type="text" class="form-control" id="type" required minlength="3" [(ngModel)]="init.typePresta" #prestaType="ngModel">
      {{init.typePresta}}
      <div class="alert alert-danger" *ngIf="prestaType.invalid && prestaType.touched">
        champ invalide
      </div>
    </div>

    <div class="form-group">
      <label for="client">Client</label>
      <input name="client" type="text" class="form-control" id="client" required [(ngModel)]="init.client">
    </div>

    <div class="form-group">
      <label for="nbj">Nb jours</label>
      <input name="nbj" type="number" class="form-control" id="nbj" [(ngModel)]="init.nbJours">
    </div>

    <div class="form-group">
        <label for="tjm">Tjm HT</label>
        <input name="tjm" type="number" class="form-control" id="tjm" [(ngModel)]="init.tjmHt">
      </div>

    <div class="form-group">
      <label for="tva">Tva</label>
      <input name="tva" type="number" class="form-control" id="tva" [(ngModel)]="init.tauxTva">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <select name="state" class="form-control" [(ngModel)]="init.state">
        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
      </select>
    </div>

    <button [disabled]="formPrestation.invalid" type="submit" class="btn btn-primary">Enregistrer</button>

  </form>
</div>
